apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

namespace: info-pages-dev
nameSuffix: -dev


patches:
- path: deployment_image.yml
  target:
    kind: Deployment
labels:
- includeSelectors: true
  pairs:
    app: info-pages-dev
